body {
    margin: 0;
    padding: 0;
    background-color: #17449c;
    color: white;
}

#map {
    height: 400px;
    border: black 1px solid;
}
#forecast{
    height: 300px;
}
#geocoder {
    z-index: 1;
    margin: 20px;
}

.mapboxgl-ctrl-geocoder {
    min-width: 50%;
}

#weatherImg{
    height: 110px;
    width: 110px;
}
#todayTemp{
    font-size: 90px;
}

#vr{
    border-left:1px solid #FFF;
    height:150px
}